/*Global teg*/
body{
  margin:0px;
  padding: 0px;

  font-family: Cuprum, Arial, sans-serif;

}

a{
  text-decoration: none;
  color:#ffffff;
}
.button{
  font-size: 14px;
  line-height: 1.29;
  font-weight: normal;

  color: #ffffff;

  background-color: #ee3643;
}
.button:hover,
.button:focus{
  background-color: #ca2c37;
}
.button:active{
  background-color: #ba2732;
}

.title{
  font-weight: normal;
  text-transform: uppercase;
}

.center{
  width: 940px;
  padding: 0px 10px;
  margin: 0px auto;
}


.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}


/*Header*/
.main-header{
  background-color: #f3f7f8;


}
.header-bg{
  display: flex;

  width: 100%;

  margin-bottom: 46px;

  background-color: #293449;
}
.main-header .header-top{
  display: flex;
  margin: 0 auto;
  align-items: center;
  min-height: 42px;

  font-size: 17px;
  line-height: 18px;
}

.header-top .header-top-actions{
  display: flex;
  justify-content: flex-end;

  flex-basis: 100%;
}

.logo{
  box-sizing: border-box;

  font-size: 24px;
  line-height: 24px;

  text-align: center;

  padding: 10px 0px;

  width: 220px;
  min-height: 43px;

  background-color: #ee3643;

  box-shadow: 0px 5px 0 0 #9C2933;

  flex-shrink: 0;
}
.logo:hover{
  background-color: #ca2c37;
}
.logo:active,
.logo:focus
{
  background-color: #ba2732;
}

.search{
  min-height: 42px;

  display: flex;

  flex-shrink: 0;

  position: relative;
}

.search input[type="search"]{
  font:inherit;

  background-color: inherit;

  border:none;

  box-sizing: border-box;

  padding: 0px;
  padding-left: 50px;

  width: 270px;
  min-height: 100%;
}

.search .search-submit{
  position: absolute;


  font-size: 0px;

  border:none;

  min-height: 42px;
  width: 50px;

  order: -1;

  margin:0px;
  padding:0px;

  background-color: transparent;
  fill:#ffffff;
  opacity: 0.3;
}

.search:hover{
  background-color: #212a3a;
}
.search:hover .search-submit{
  opacity: 1;
}
.search-submit:focus{
  opacity: 1;
  fill:black;
}
.search input[type="search"]:focus{
  background-color: #ffffff;

  outline: none;

  color: #000000;
}
input[type="search"]:focus+.search-submit{
  opacity: 1;
  fill:#ee3643;
}
.search-submit:focus{
  opacity: 1;
  fill:#ee3643;
}
.header-top-actions{
  width: 450px;
}

.bookmarks{
  position: relative;
}
.bookmarks a{
  display: block;

  width: 150px;
  min-height: 42px;

  padding-top:13px;

  text-align: center;

  box-sizing: border-box;
}
.bookmarks a::after{
  content: "";
  position: absolute;
  left: 12px;
  top: 12px;
  min-width: 14px;
  min-height: 16px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='16' viewBox='0 0 14 16' style='opacity:0.3;'%3E%3Cpath fill='%23ffffff' d='M14 15c0 .55-.368.741-.818.426l-5.363-3.765c-.45-.315-1.187-.315-1.637 0L.818 15.426C.368 15.741 0 15.55 0 15V1c0-.55.45-1 1-1h12c.55 0 1 .45 1 1v14z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
}

.basket{
  position: relative;
}
.basket a{
  display: block;

  width: 150px;
  min-height: 42px;

  padding-top:13px;

  text-align: center;

  box-sizing: border-box;
}
.basket a::after{
  content: "";
  position: absolute;
  left: 12px;
  top: 12px;
  min-width: 14px;
  min-height: 16px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15' style='opacity:0.3;'%3E%3Ccircle cx='4.5' cy='13.5' r='1.5' fill='%23ffffff'/%3E%3Ccircle cx='12.5' cy='13.5' r='1.5' fill='%23ffffff'/%3E%3Cpath d='M15 2H4.07l-.422-2H0v2h2.031l1.985 9H15V9H9.441L15 6.951z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;

}

.bookmarks a:hover,
.bookmarks a:focus,
.basket a:hover,
.basket a:focus{
  background-color: #212a3a;
}
.bookmarks a:hover::after,
.bookmarks a:focus::after{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='16' viewBox='0 0 14 16' style='opacity:1;'%3E%3Cpath fill='%23ffffff' d='M14 15c0 .55-.368.741-.818.426l-5.363-3.765c-.45-.315-1.187-.315-1.637 0L.818 15.426C.368 15.741 0 15.55 0 15V1c0-.55.45-1 1-1h12c.55 0 1 .45 1 1v14z'/%3E%3C/svg%3E");
}
.basket a:hover::after,
.basket a:focus::after{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15' style='opacity:1;'%3E%3Ccircle cx='4.5' cy='13.5' r='1.5' fill='%23ffffff'/%3E%3Ccircle cx='12.5' cy='13.5' r='1.5' fill='%23ffffff'/%3E%3Cpath d='M15 2H4.07l-.422-2H0v2h2.031l1.985 9H15V9H9.441L15 6.951z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
}

.bookmarks a:active,
.basket a:active{
  background-color: #161d29;
  opacity: 0.6;
}
.bookmarks a:active::after{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='16' viewBox='0 0 14 16' style='opacity:0.5;'%3E%3Cpath fill='%23ffffff' d='M14 15c0 .55-.368.741-.818.426l-5.363-3.765c-.45-.315-1.187-.315-1.637 0L.818 15.426C.368 15.741 0 15.55 0 15V1c0-.55.45-1 1-1h12c.55 0 1 .45 1 1v14z'/%3E%3C/svg%3E");
}
.basket a:active::after{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15' style='opacity:0.5;'%3E%3Ccircle cx='4.5' cy='13.5' r='1.5' fill='%23ffffff'/%3E%3Ccircle cx='12.5' cy='13.5' r='1.5' fill='%23ffffff'/%3E%3Cpath d='M15 2H4.07l-.422-2H0v2h2.031l1.985 9H15V9H9.441L15 6.951z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
}

.order a{
  display: block;
  background-color: #63a63e;

  box-sizing: border-box;

  text-align: center;

  padding-top: 13px;

  width: 150px;
  min-height: 42px;
}
.order a:hover,
.order a:focus{
  background-color: #5fbb2d;
}
.order a:active{
  background-color: #518534;
  color:rgba(255, 255, 255, 0.5);
}


.header-middle{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  margin-bottom: 44px;

}

.header-title{
  display: block;
  min-width: 200px;
  min-height: 60px;
  box-sizing: border-box;


  font-style: italic;
  font-size: 16px;
  line-height: 23px;

  text-align: left;

  color:rgba(238, 54, 67, 0.7);

  margin: 0px;
  margin-right: 70px;
  margin-left: 55px;
}

.header-info{
  text-align:center;

  font-size: 14px;
  line-height: 24px;

  color: #32425c;

  margin: 0px;
  margin-right: 65px;

  position: relative;
}


.info-number{
  display: block;
  width: 270px;
  min-height: 45px;
  box-sizing: border-box;

  padding-top: 12px;

  font-size: 21px;
  line-height: 21px;

  border:3px solid #ffffff;

  color:#ee3643;
}
.info-number::after{
  content: "";
  position: absolute;
  left: 15px;
  top: 13px;

  min-width: 19px;
  min-height: 19px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' viewBox='0 0 19 19'%3E%3Cpath fill='%23B7BFC8' d='M15.572 18.985h-.941c-4.129-.488-7.157-2.408-9.359-4.864C3.062 11.66 1.318 8.492.978 4.228V3.084c.078-.774.459-1.304.898-1.757C2.425.766 3.25.044 4.002.019c.554-.018 1.5.38 1.879.899.329.446.504 1.339.656 2.003.154.671.505 1.643.408 2.289-.148 1.007-1.487 1.434-1.879 2.166 1.307 3.135 3.443 5.439 6.293 7.031.715-.392 1.346-1.572 2.332-1.595.359-.009.818.178 1.184.286.402.121.75.275 1.104.408.596.224 1.648.521 2.004 1.021.365.513.57 1.356.49 1.879-.164 1.041-1.879 2.197-2.901 2.579z'/%3E%3C/svg%3E%0A");
}

.account{
  display: flex;

  list-style: none;

  font-size:21px;
  line-height: 21px;

  text-align:center;

  margin: 0px;
  padding-left: 0px;
  margin-right: -10px;
}
.account li{
  margin-right: 10px;

  position: relative;
}
.account a{
  display: block;
  color: #000000;

  box-sizing: border-box;

  width: 121px;
  min-height: 45px;
  padding-top: 14px;

  background-color:#ffffff;
}

.account .entrance{
  padding-left: 40px;
}
.account .entrance::after{
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;

  min-width: 20px;
  min-height: 17px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='17' viewBox='0 0 20 17' style='opacity:0.3;'%3E%3Cpath fill='%2332425C' d='M14.875 8.5L6 0v6H0v5h6v6z'/%3E%3Cpath fill='%2332425C' d='M16.986 15.01h-5.027V17h5.027c2.178 0 3.004-1.81 3.029-3.026V3.028C19.99 1.811 19.164 0 16.986 0h-5.027v1.99h5.027c.839 0 .992.681 1.01 1.057v10.904c-.017.376-.171 1.059-1.01 1.059z'/%3E%3C/svg%3E");
}

.account .check-in{
  width: 150px;
}

.account a:hover,
.account a:focus{
  color:#ee3643;
}
.account .entrance:hover::after,
.account .entrance:focus::after{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='17' viewBox='0 0 20 17' style='opacity:1;'%3E%3Cpath fill='%2332425C' d='M14.875 8.5L6 0v6H0v5h6v6z'/%3E%3Cpath fill='%2332425C' d='M16.986 15.01h-5.027V17h5.027c2.178 0 3.004-1.81 3.029-3.026V3.028C19.99 1.811 19.164 0 16.986 0h-5.027v1.99h5.027c.839 0 .992.681 1.01 1.057v10.904c-.017.376-.171 1.059-1.01 1.059z'/%3E%3C/svg%3E");
}

.account a:active{
  color: rgba(0, 0, 0, 0.3);
}
.account .entrance:active::after{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='17' viewBox='0 0 20 17' style='opacity:0.5;'%3E%3Cpath fill='%2332425C' d='M14.875 8.5L6 0v6H0v5h6v6z'/%3E%3Cpath fill='%2332425C' d='M16.986 15.01h-5.027V17h5.027c2.178 0 3.004-1.81 3.029-3.026V3.028C19.99 1.811 19.164 0 16.986 0h-5.027v1.99h5.027c.839 0 .992.681 1.01 1.057v10.904c-.017.376-.171 1.059-1.01 1.059z'/%3E%3C/svg%3E");
}


.header-bottom{
  font-size: 17px;
  line-height: 17px;

  background-color: #32425c;

  min-height: 60px;

  margin-bottom:  60px;


  box-sizing: border-box;

  box-shadow: inset 0px -5px 0 0 #293449;
}

.nav-list{
  display: flex;
  flex-direction: row;


  min-height: 60px;

  list-style:none;

  margin: 0px;

  padding: 0px;

}

.nav-list li{
  flex-basis: 100%;
  min-height: 60px;



}

.nav-list a{
  flex-basis: inherit;
  min-height: 60px;

  display: flex;

  justify-content: center;
  align-items: center;

  text-align: center;
}
.nav-list a:hover,
.nav-list a:focus{
  background-color: #293449;
}
.nav-list a:active{
  background-color: #1d2739;

  color: rgba(255, 255, 255, 0.5);
}
/*----------*/
/*Index*/
.relevant{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-content: space-between;
  justify-content:space-between;

  text-align: center;

  margin-bottom: 53px;
}

.relevant .help-column{
  display: flex;
  flex-direction: column;
}

.relevant .additional{
  width: 300px;
  min-height: 123px;

  margin-bottom: 20px;
}



.relevant .slide{
  width: 620px;
  min-height: 266px;

  margin-right: 20px;
}

.relevant h3{
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #ffffff;

  margin: 0px;
  padding: 0px;
}

.relevant .material{
  background-color: #ffbf47;
}
.relevant .instruments{
  background-color: #3bbce3;
}
.relevant .equipment{
  background-color: #dc91d8;
}
.relevant .sale{
  background-color: #8ed78f;
}
.relevant .delivery{
  background-color: #ffc047;
}

.relevant a{
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;


  background-color: rgba(0, 0, 0, 0.1);
}
.relevant a:hover,
.relevant a:focus{
  background-color: rgba(0, 0, 0, 0.2);
}
.relevant a:active{
  background-color: rgba(0, 0, 0, 0.3);
}


.popular-items{
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
}
.popular-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: #f9f5f0;

  margin-bottom: 20px;
}
.popular-title .title{
  font-size: 30px;
  line-height: 30px;

  color:#32425c;

  margin-left: 30px;
}
.popular-title .button{
  margin-right: 30px;
}

.items .catalog-list  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;

  font-family: "PT Sans",sans-serif;
  font-weight: bold;
  font-size: 18px;

  list-style: none;

  margin: 0px;
  padding: 0px;
  margin-right: -20px;
}

.catalog-list .catalog-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 220px;
  min-height: 318px;
  border: 1px solid #eaeaea;

  text-align: center;

  box-sizing: border-box;

  position: relative;

  margin-bottom: 20px;
  margin-right: 20px;
}
.catalog-item:hover,
.catalog-item:focus{
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item .img-item{
  display: flex;

  justify-content: center;
  align-items: center;
  min-height: 183px;
  width: 220px;

}

.catalog-item .item-actions{
  position: absolute;

  top: 0px;
  left: 0px;

  overflow: hidden;

  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.item-actions .buy,
.item-actions .bookmark{
  display: block;

  width:129px;


  margin:0 auto;
  margin-bottom:7px;
  padding:7px 0px;

  color:white;
  font-size:14px;
  font-weight:normal;
  font-family:"Cuprum", sans-serif;
  line-height:18px;
  text-decoration:none;
  text-transform:uppercase;

  border:3px solid #63a63e;
  border-bottom-color:#367315;
  background-color:#63a63e;
  border-radius:3px;
}

.item-actions .buy{
  position: relative;
}
.item-actions .buy::after{
  content: "";
  position: absolute;
  left: 14px;
  top: 11px;

  width: 15px;

  background-image: url("../img/cart-icon.png");
  background-repeat: no-repeat;

}

.item-actions .bookmark{
  color:#32425c;
  background:white;
  border-bottom-color:#63a63e;
}

.catalog-item:hover .item-actions{
  position: absolute;


  background-color:rgba(255,255,255,0.9);
  top: 0px;
  left: 0px;

  overflow: visible;

  min-height: 134px;
  width: 218px;
  margin: 0px;

  padding:0px;
  padding-top: 43px;

  border: none;
}

.catalog-item h3{
  padding: 0px;
  margin: 0px;
  order: 1;

  min-height: 33px;
  width: 155px;

  line-height: 20px;
  font-size: 18px;

  margin-bottom: 18px;
}

.item-title a{
  font: inherit;
  line-height: 20px;
  color: #000000;
}

.catalog-item p{
  margin: 0px;
  padding: 0px;
}

.catalog-item p[class*="price"]{
  font-size: 17px;
  line-height: 12px;
}
.catalog-item .old-price{
  text-decoration: line-through;
  order: 2;
  color: #a9a9a9;

  margin-bottom: 13px;

  min-height: 12px;

  box-sizing: border-box;
}
.catalog-item .new-price{
  order: 3;
  color: #ffffff;

  box-sizing: border-box;

  margin-bottom: 21px;

  min-height: 38px;
  width: 141px;

  padding: 13px 30px;

  background-color: #ee3643;

  position: relative;
}
.catalog-item .new-price::after{
  content: "";
  position:absolute;
  top:0;
  right:-20px;
  width:0;
  height:0;
  border:19px solid white;
  border-left-color:#ee3643;
}

.new-item{
  position: absolute;
  position:absolute;
  top:-1px;
  right:-1px;
  width:60px;
  height:60px;
  text-indent:-1000px;
  overflow:hidden;
  z-index:20;

  background-image: url("../img/new-price.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.manufacturer{
  display: flex;
  flex-direction: column;

  margin-bottom: 85px;
}

.manufacturer-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: #f9f5f0;
}
.manufacturer-title .title{
  font-size: 30px;
  line-height: 30px;

  color:#32425c;

  margin-left: 30px;
}
.manufacturer-title .button{
  margin-right: 30px;
}

.manufacturer .manufacturer-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  list-style: none;
}

.manufacturer-list li{
  margin-right: 20px;
  margin-bottom: 20px;
}

.service{

  margin-bottom: 82px;

  background-color: #F6F8FA;
}

.service h2{
  font-size: 30px;
  line-height: 30px;

  color: #000000;

  margin: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.service-tagline{
  font-family: "PT Sans",sans-serif;
  font-size: 13px;
  line-height: 24px;

  margin-bottom: 70px;
}

.service-help-column{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.service-list{
  list-style: none;
  font-weight: bold;

  margin: 0px;
  padding: 0px;
  margin-right: 80px;
}

.service-list li{

}

.service-list a{
  font-size: 21px;
  line-height: 30px;

  background-color: #33445a;
}
.service-list a:hover,
.service-list a:focus{
  background-color: #293449;
}
.service-list a:active{
  color: #32425c;

  background-color: #ffffff;
}

.service h3{
  font-size: 36px;
  line-height: 1;

  color: #32425c;

  margin-top: 0px;
  padding-top: 0px;
}

.service .description{

  font-family: "PT Sans",sans-serif;
  font-size: 13px;
  line-height: 1.85;

  color: #000000;
}


.main-info{
  color: #000000;
  display: flex;

}

.main-info .info{

  width: 519px;
  min-height: 368px;

  margin-right: 120px;
}

.main-info h2{
  font-size: 30px;
  line-height: 1;

  margin: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.main-info p{
  font-family: "PT Sans",sans-serif;
  font-size: 13px;
  line-height: 1.85;

  margin: 0px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.delivery-methods{
  list-style: none;
  font-size: 18px;
  line-height: 1.11;

  margin-left: 0px;
  padding-left: 0px;
}

.main-info .info-geo{

  width:300px;
  min-height: 368px;
}
/*------------------*/
/*Internal page properties*/

.inner-page{

}

.breadcrumbs{
  display: flex;

  font-family: "PT Sans",sans-serif;
  font-size: 13px;
  line-height: 1.38;

  list-style: none;

  margin: 0px;
  padding: 0px;

  padding-top: 25px;
  padding-bottom: 25px;

}
.breadcrumbs li{
  margin-left: 39px;

}
.breadcrumbs a{
  color: #000000;
  min-height: 9px;
}


.internally-title{
  box-sizing: border-box;
  font-size: 30px;
  line-height: 1;

  color: #32425c;

  background-color: #f2f6f8;



  margin: 0px;
  padding: 0px;

  padding-left: 30px;
  padding-top: 32px;
  padding-bottom: 32px;

  margin-bottom: 20px;

  min-height: 89px;
}


.inner-page-help{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.filters{

  font-family: "PT Sans",sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.33;
  text-transform: uppercase;

  color: #000000;

  margin-right: 20px;

  width: 220px;
  min-height: 746px;
}

.filters .filters-title{
  font-size: 13px;
  line-height: 1.38;
  font-weight: inherit;

  background-color: #f7f3ec;

  margin: 0px;
  padding: 0px;
}

.filter .filter-title{
  font-size: 17px;
  font-weight: bold;
  line-height: 1.76;
}

.catalog-column{


  width: 700px;
  min-height: 1142px;

  margin-bottom: 60px;
}



.sorting{
  display: flex;

  font-family: "PT Sans",sans-serif;
  font-weight:normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #f7f3ec;

  margin-bottom: 20px;
}

.sorting h2{
  font:inherit;
}

.sorting .sorting-menu{
  list-style: none;
}

.sorting-menu a{
  color: rgba(0, 0, 0, 0.3);
}
.sorting-menu a:hover:not(.active),
.sorting-menu a:focus:not(.active){
  color: #000000;
}
.sorting-menu a:active,
.sorting-menu .active{
  color: #ee3643;
}


.pagination{
  display: flex;

  list-style: none;

  margin: 0px;
  padding: 0px;
}

.pagination a{
  font-family: "PT Sans",sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.38;

  color: #000000;
}

.pagination a:hover:not(.active),
.pagination a:focus:not(.active){

}
.pagination a:active,
.pagination .active{

}


.inner-info{
  background-color: #F3F6F8;
  width: 100%;
}

.inner-info h2{
  font-size: 30px;
  line-height: 1;
  font-weight: normal;
}

.inner-info p{
  font-family: 'PT Sans',sans-serif;
  font-size: 13px;
  line-height: 1.85;
  font-weight: normal;
}
/*------------------*/

/*Footer*/
.main-footer{
  background-color:#32425c;

}
.main-footer ul{
  list-style: none;

  margin: 0px;
  padding: 0px;
}

.footer-nav{
  display: flex;
  flex-direction: row;


  font-size: 18px;
  line-height: 1.33;
}

.footer-column-left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-right: 68px;
}

.footer-nav .logo{
  font-size: 30px;
  line-height: 1;

  padding-left: 41px;
  padding-right: 41px;
}

.footer-nav p{
  color: #f3f7f9;
}

.footer-column-right{

}

.footer-main-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-add-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer-add-nav a{
  color: #ffd180;
}

.footer-main-nav a:hover,
.footer-main-nav a:focus,
.footer-add-nav a:hover,
.footer-add-nav a:focus{
  text-decoration: underline;
}

.footer-main-nav a:active,
.footer-add-nav a:active{
  opacity: 0.5;

  text-decoration: none;
}

.footer-bottom-bg{
  background-color: #293449;
}

.footer-bottom{
  display: flex;
  flex-direction: row;


  font-size: 16px;
  line-height: 1.13;

  color: #ffffff;
}

.footer-bottom  a{
  color: #ffd180;
}
.footer-bottom a:hover,
.footer-bottom a:focus{
  text-decoration: underline;
}
.footer-bottom a:active{
  text-decoration: none;

  color: #ee3643;
}

.social{
  display: none;

}
