/*Global teg*/
body{
  margin:0px;
  padding: 0px;

  font-family: Cuprum, Arial, sans-serif;

}

a{
  text-decoration: none;
  color:#ffffff;
}
.button{
  display: block;
  width: 253px;
  min-height: 38px;
  box-sizing: border-box;

  padding-top:11px;

  text-align: center;

  font-size: 14px;
  line-height: 1.29;
  font-weight: normal;

  color: #ffffff;

  background-color: #ee3643;

}
.button:hover,
.button:focus{
  background-color: #ca2c37;
}
.button:active{
  background-color: #ba2732;
}

.title{
  font-weight: normal;
  text-transform: uppercase;
}

.center{
  width: 940px;
  padding: 0px 10px;
  margin: 0px auto;
}


.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}


/*Header*/
.main-header{
  background-color: #f3f7f8;

  padding-bottom: 60px;
  margin-bottom: 60px;
}
.header-bg{
  display: flex;

  width: 100%;

  margin-bottom: 46px;

  background-color: #293449;
}
.main-header .header-top{
  display: flex;
  margin: 0 auto;
  align-items: center;
  min-height: 42px;

  font-size: 17px;
  line-height: 18px;
}

.header-top .header-top-actions{
  display: flex;
  justify-content: flex-end;

  flex-basis: 100%;
}

.logo{
  box-sizing: border-box;

  font-size: 24px;
  line-height: 24px;

  text-align: center;

  padding: 10px 0px;

  width: 220px;
  min-height: 43px;

  background-color: #ee3643;

  box-shadow: 0px 5px 0 0 #9C2933;

  flex-shrink: 0;
}
.logo:hover{
  background-color: #ca2c37;
}
.logo:active,
.logo:focus
{
  background-color: #ba2732;
}

.search{
  min-height: 42px;

  display: flex;

  flex-shrink: 0;

  position: relative;
}

.search input[type="search"]{
  font:inherit;

  background-color: inherit;

  border:none;

  box-sizing: border-box;

  padding: 0px;
  padding-left: 50px;

  width: 270px;
  min-height: 100%;
}

.search .search-submit{
  position: absolute;


  font-size: 0px;

  border:none;

  min-height: 42px;
  width: 50px;

  order: -1;

  margin:0px;
  padding:0px;

  background-color: transparent;
  fill:#ffffff;
  opacity: 0.3;
}

.search:hover{
  background-color: #212a3a;
}
.search:hover .search-submit{
  opacity: 1;
}
.search-submit:focus{
  opacity: 1;
  fill:black;
}
.search input[type="search"]:focus{
  background-color: #ffffff;

  outline: none;

  color: #000000;
}
input[type="search"]:focus+.search-submit{
  opacity: 1;
  fill:#ee3643;
}
.search-submit:focus{
  opacity: 1;
  fill:#ee3643;
}
.header-top-actions{
  width: 450px;
}

.bookmarks{
  position: relative;
}
.bookmarks{
  display: block;

  width: 150px;
  min-height: 42px;

  padding-top:13px;

  text-align: center;

  box-sizing: border-box;
}
.bookmarks::after{
  content: "";
  position: absolute;
  left: 12px;
  top: 12px;
  min-width: 14px;
  min-height: 16px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='16' viewBox='0 0 14 16' style='opacity:0.3;'%3E%3Cpath fill='%23ffffff' d='M14 15c0 .55-.368.741-.818.426l-5.363-3.765c-.45-.315-1.187-.315-1.637 0L.818 15.426C.368 15.741 0 15.55 0 15V1c0-.55.45-1 1-1h12c.55 0 1 .45 1 1v14z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
}

.basket{
  display: block;

  position: relative;

  width: 150px;
  min-height: 42px;

  padding-top:13px;

  text-align: center;

  box-sizing: border-box;
}

.not-empty{
  background-color: #ee3643;
}

.bookmarks.not-empty{
  background-color: #ee3643;
}

.basket.not-empty{
  background-color: #ee3643;
}

.basket::after{
  content: "";
  position: absolute;
  left: 12px;
  top: 12px;
  min-width: 14px;
  min-height: 16px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15' style='opacity:0.3;'%3E%3Ccircle cx='4.5' cy='13.5' r='1.5' fill='%23ffffff'/%3E%3Ccircle cx='12.5' cy='13.5' r='1.5' fill='%23ffffff'/%3E%3Cpath d='M15 2H4.07l-.422-2H0v2h2.031l1.985 9H15V9H9.441L15 6.951z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
}

.bookmarks:hover,
.bookmarks:focus,
.basket:hover,
.basket:focus{
  background-color: #212a3a;
}
.bookmarks:hover::after,
.bookmarks:focus::after{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='16' viewBox='0 0 14 16' style='opacity:1;'%3E%3Cpath fill='%23ffffff' d='M14 15c0 .55-.368.741-.818.426l-5.363-3.765c-.45-.315-1.187-.315-1.637 0L.818 15.426C.368 15.741 0 15.55 0 15V1c0-.55.45-1 1-1h12c.55 0 1 .45 1 1v14z'/%3E%3C/svg%3E");
}
.basket:hover::after,
.basket:focus::after{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15' style='opacity:1;'%3E%3Ccircle cx='4.5' cy='13.5' r='1.5' fill='%23ffffff'/%3E%3Ccircle cx='12.5' cy='13.5' r='1.5' fill='%23ffffff'/%3E%3Cpath d='M15 2H4.07l-.422-2H0v2h2.031l1.985 9H15V9H9.441L15 6.951z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
}

.bookmarks:active,
.basket:active{
  background-color: #161d29;
  opacity: 0.6;
}
.bookmarks:active::after{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='16' viewBox='0 0 14 16' style='opacity:0.5;'%3E%3Cpath fill='%23ffffff' d='M14 15c0 .55-.368.741-.818.426l-5.363-3.765c-.45-.315-1.187-.315-1.637 0L.818 15.426C.368 15.741 0 15.55 0 15V1c0-.55.45-1 1-1h12c.55 0 1 .45 1 1v14z'/%3E%3C/svg%3E");
}
.basket:active::after{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15' style='opacity:0.5;'%3E%3Ccircle cx='4.5' cy='13.5' r='1.5' fill='%23ffffff'/%3E%3Ccircle cx='12.5' cy='13.5' r='1.5' fill='%23ffffff'/%3E%3Cpath d='M15 2H4.07l-.422-2H0v2h2.031l1.985 9H15V9H9.441L15 6.951z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
}

.bookmarks.not-empty:hover,
.bookmarks.not-empty:focus{
  background-color: #ca2c37;
}
.bookmarks.not-empty:active{
  background-color: #ba2732;
}

.basket.not-empty:hover,
.basket.not-empty:focus{
  background-color: #ca2c37;
}
.basket.not-empty:active{
  background-color: #ba2732;
}

.order{
  display: block;
  background-color: #63a63e;

  box-sizing: border-box;

  text-align: center;

  padding-top: 13px;

  width: 150px;
  min-height: 42px;
}
.order:hover,
.order:focus{
  background-color: #5fbb2d;
}
.order:active{
  background-color: #518534;
  color:rgba(255, 255, 255, 0.5);
}


.header-middle{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  margin-bottom: 44px;

}

.header-title{
  display: block;
  min-width: 200px;
  min-height: 60px;
  box-sizing: border-box;


  font-style: italic;
  font-size: 16px;
  line-height: 23px;

  text-align: left;

  color:rgba(238, 54, 67, 0.7);

  margin: 0px;
  margin-right: 70px;
  margin-left: 55px;
}

.header-info{
  text-align:center;

  font-size: 14px;
  line-height: 24px;

  color: #32425c;

  margin: 0px;
  margin-right: 65px;

  position: relative;
}


.info-number{
  display: block;
  width: 270px;
  min-height: 45px;
  box-sizing: border-box;

  padding-top: 12px;

  font-size: 21px;
  line-height: 21px;

  border:3px solid #ffffff;

  color:#ee3643;
}
.info-number::after{
  content: "";
  position: absolute;
  left: 15px;
  top: 13px;

  min-width: 19px;
  min-height: 19px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' viewBox='0 0 19 19'%3E%3Cpath fill='%23B7BFC8' d='M15.572 18.985h-.941c-4.129-.488-7.157-2.408-9.359-4.864C3.062 11.66 1.318 8.492.978 4.228V3.084c.078-.774.459-1.304.898-1.757C2.425.766 3.25.044 4.002.019c.554-.018 1.5.38 1.879.899.329.446.504 1.339.656 2.003.154.671.505 1.643.408 2.289-.148 1.007-1.487 1.434-1.879 2.166 1.307 3.135 3.443 5.439 6.293 7.031.715-.392 1.346-1.572 2.332-1.595.359-.009.818.178 1.184.286.402.121.75.275 1.104.408.596.224 1.648.521 2.004 1.021.365.513.57 1.356.49 1.879-.164 1.041-1.879 2.197-2.901 2.579z'/%3E%3C/svg%3E%0A");
}

.account{
  display: flex;

  list-style: none;

  font-size:21px;
  line-height: 21px;

  text-align:center;

  margin: 0px;
  padding-left: 0px;
  margin-right: -10px;
}
.account li{
  margin-right: 10px;

  position: relative;
}
.account a{
  display: block;
  color: #000000;

  box-sizing: border-box;

  width: 121px;
  min-height: 45px;
  padding-top: 14px;

  background-color:#ffffff;
}

.account .entrance{
  padding-left: 40px;
}
.account .entrance::after{
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;

  min-width: 20px;
  min-height: 17px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='17' viewBox='0 0 20 17' style='opacity:0.3;'%3E%3Cpath fill='%2332425C' d='M14.875 8.5L6 0v6H0v5h6v6z'/%3E%3Cpath fill='%2332425C' d='M16.986 15.01h-5.027V17h5.027c2.178 0 3.004-1.81 3.029-3.026V3.028C19.99 1.811 19.164 0 16.986 0h-5.027v1.99h5.027c.839 0 .992.681 1.01 1.057v10.904c-.017.376-.171 1.059-1.01 1.059z'/%3E%3C/svg%3E");
}

.account .check-in{
  width: 150px;
}

.account a:hover,
.account a:focus{
  color:#ee3643;
}
.account .entrance:hover::after,
.account .entrance:focus::after{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='17' viewBox='0 0 20 17' style='opacity:1;'%3E%3Cpath fill='%2332425C' d='M14.875 8.5L6 0v6H0v5h6v6z'/%3E%3Cpath fill='%2332425C' d='M16.986 15.01h-5.027V17h5.027c2.178 0 3.004-1.81 3.029-3.026V3.028C19.99 1.811 19.164 0 16.986 0h-5.027v1.99h5.027c.839 0 .992.681 1.01 1.057v10.904c-.017.376-.171 1.059-1.01 1.059z'/%3E%3C/svg%3E");
}

.account a:active{
  color: rgba(0, 0, 0, 0.3);
}
.account .entrance:active::after{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='17' viewBox='0 0 20 17' style='opacity:0.5;'%3E%3Cpath fill='%2332425C' d='M14.875 8.5L6 0v6H0v5h6v6z'/%3E%3Cpath fill='%2332425C' d='M16.986 15.01h-5.027V17h5.027c2.178 0 3.004-1.81 3.029-3.026V3.028C19.99 1.811 19.164 0 16.986 0h-5.027v1.99h5.027c.839 0 .992.681 1.01 1.057v10.904c-.017.376-.171 1.059-1.01 1.059z'/%3E%3C/svg%3E");
}
/*User logged in*/
.account.entered{
  flex-wrap: wrap;

  margin-left: -20px;
}

.account .account-user{
  position: relative;

  width: 300px;
  min-height: 21px;
  box-sizing: border-box;

  padding: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 4px;
}
.account .account-exit{
  position: absolute;
  right:  0px;
  top: 0px;

  width: 55px;
  height: 21px;
  box-sizing: border-box;

  padding-top: 14px;

  background-color: transparent;

  opacity: 0.3;
}

.account-user .user-name::before{
  content: "";
  position: absolute;
  top: 13px;
  left: 13px;

  width: 20px;
  height: 18px;
  background-color: transparent;

  opacity: 0.3;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='18' viewBox='0 0 20 18'%3E%3Cpath fill='%2332425C' d='M17.881 14.166c-2.144-.735-4.256-1.666-5.207-2.39-.657-.501-.77-1.618-.517-2.415 1.118-.903 1.864-2.477 1.864-4.278C14.021 2.276 12.221 0 10 0S5.979 2.276 5.979 5.083c0 1.801.746 3.374 1.863 4.277.253.798.141 1.915-.517 2.416-.95.724-3.063 1.654-5.207 2.39S0 18 0 18h20s.025-3.099-2.119-3.834z'/%3E%3C/svg%3E%0A");

}
.account .account-user:hover,
.account .account-user:focus{
  color: #000000;
}
.account .account-user:active{
  color: rgba(0, 0, 0, 0.3);
}

.account-user:hover .user-name::before,
.account-user:focus .user-name::before{
  opacity: 1;
}
.account-user:active .user-name::before{
  opacity: 0.3;
}

.account .account-exit:hover,
.account .account-exit:focus{
  opacity: 1;
}
.account .account-exit:active{
  opacity: 0.3;
}


.account .account-actions{
  display: flex;

  width: 300px;
}
.account-actions a{
  font-size: 16px;
  line-height: 18px;
  color: #32425c;

  min-height: 18px;

  padding-top: 0px;

  background-color: transparent;
}
.account-actions .my-orders::after{
  content: '';
  position: absolute;
  top: 7px;
  left: 110px;

  width: 4px;
  height: 5px;
  box-sizing: border-box;
  border: 1px solid #32425c;
  border-radius: 10px;

  background-color: #32425c;
}
.account-actions a:hover,
.account-actions a:focus{
  text-decoration: underline;
}
.account-actions a:active{
  text-decoration: none;
}
/*--------------*/


.header-bottom{
  font-size: 17px;
  line-height: 17px;

  background-color: #32425c;

  min-height: 60px;

  box-sizing: border-box;

  box-shadow: inset 0px -5px 0 0 #293449;
}
.header-bottom.center{
  padding: 0px;
}

.nav-list{
  display: flex;
  flex-direction: row;


  min-height: 60px;

  list-style:none;

  margin: 0px;

  padding: 0px;
}

.nav-list li{
  flex-basis: 100%;
  min-height: 60px;
}

.nav-list a{
  flex-basis: inherit;
  min-height: 60px;

  display: flex;

  justify-content: center;
  align-items: center;

  text-align: center;

  padding-left: 20px;
  padding-right: 20px;
}
.nav-list a:hover,
.nav-list a:focus{
  background-color: #293449;
}
.nav-list a:active{
  background-color: #1d2739;

  color: rgba(255, 255, 255, 0.5);
}
/*----------*/
/*Index*/
.relevant{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-content: space-between;
  justify-content:space-between;

  text-align: center;

  margin-bottom: 53px;
}

.relevant .help-column{
  display: flex;
  flex-direction: column;

  margin-bottom: -20px;
}

.relevant .additional{
  position: relative;
  width: 300px;
  min-height: 123px;

  margin-bottom: 20px;
}

.relevant .slide{
  width: 620px;
  min-height: 266px;

  margin-right: 20px;
}

.relevant h3{
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #ffffff;

  margin: 0px;
  padding: 0px;
}

.additional h3{
  display: block;
  width: 150px;
  min-height: 48px;
  box-sizing: border-box;

  padding-left: 20px;
  padding-top: 26px;

  text-align: left;
}

.additional a{
  display: block;

  width: 135px;
  height: 38px;
  box-sizing: border-box;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  padding-top: 12px;
  margin-left: 25px;
  margin-top: 15px;

  background-color: rgba(0, 0, 0, 0.1);
}
.additional a:hover,
.additional a:focus{
  background-color: rgba(0, 0, 0, 0.2);
}
.additional a:active{
  background-color: rgba(0, 0, 0, 0.3);
}

.additional .new{
  position: absolute;
  top:-1px;
  right:-1px;
  width:60px;
  height:60px;
  text-indent:-1000px;
  overflow:hidden;
  z-index:20;

  background-image: url("../img/new-price.png");
  background-repeat: no-repeat;
  background-position: 0 0;

}
.additional::before{
  content: "";
  position: absolute;
  top: 30px;
  right: 30px;

  min-width: 78px;
  min-height: 72px;
  background-image: url("");
  background-position: center;
  background-repeat: no-repeat;
}

.relevant .material{
  background-color: #ffbf47;
}
.relevant .material::before{
  background-image: url("../img/index/icon-1.svg");
}

.relevant .instruments{
  background-color: #3bbce3;
}
.relevant .instruments::before{
  background-image: url("../img/index/icon-2.svg");
}

.relevant .equipment{
  background-color: #dc91d8;
}
.relevant .equipment::before{
  background-image: url("../img/index/icon-3.svg");
}

.relevant .sale{
  background-color: #8ed78f;
}
.relevant .sale::before{
  background-image: url("../img/index/icon-4.svg");
}

.relevant .delivery{
  background-color: #ffc047;
}
.relevant .delivery::before{
  background-image: url("../img/index/icon-5.svg");
}

.relevant .slide{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  background:
  url("../img/index/slider-1.png") no-repeat center ,
  url("../img/index/slider-2.png") no-repeat center;
}

.slide .handle{
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 40px;
}
.handle button{
  margin: 0px;
  padding: 0px;
  border:0px;

  margin-top: 5px;
  width: 22px;
  min-height: 40px;
}

.handle .handle-left{
  margin-left: 25px;

  background-color: transparent;
}
.handle .handle-right{
  margin-right: 25px;

  background-color: transparent;
}

.slide .button{
  position: absolute;
  left: 25px;
  bottom: 22px;

  width: 195px;
}

.slide .dots{
  position: absolute;
  bottom: 36px;

  width: 6px;
  min-height: 6px;

  background-color: #ffffff;

  border: 2px solid #ffffff;

  border-radius: 5px;
}
.slide .dots-left{
  left: 295px;
}
.slide .dots-right{
  right: 297px;
}
.dots.active{
  background-color: #ee3643;
}

.popular-items{
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
}
.popular-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: #f9f5f0;

  margin-bottom: 20px;
}
.popular-title .title{
  font-size: 30px;
  line-height: 30px;

  color:#32425c;

  margin-left: 30px;
}
.popular-title .button{
  margin-right: 30px;
}

.items .catalog-list  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;

  font-family: "PT Sans",sans-serif;
  font-weight: bold;
  font-size: 18px;

  list-style: none;

  margin: 0px;
  padding: 0px;
  margin-right: -20px;
}

.catalog-list .catalog-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 220px;
  min-height: 318px;
  border: 1px solid #eaeaea;

  text-align: center;

  box-sizing: border-box;

  position: relative;

  margin-bottom: 20px;
  margin-right: 20px;
}
.catalog-item:hover,
.catalog-item:focus{
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item .img-item{
  display: flex;

  justify-content: center;
  align-items: center;
  min-height: 183px;
  width: 220px;

}

.catalog-item .item-actions{
  position: absolute;

  top: 0px;
  left: 0px;

  overflow: hidden;

  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}


.item-actions .buy,
.item-actions .bookmark{
  display: block;

  width:129px;


  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0px;

  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;

  border:3px solid  #63a63e;
  border-bottom-color: #367315;
  background-color: #63a63e;
  border-radius: 3px;
}

.item-actions .buy{
  position: relative;
}
.item-actions .buy::before{
  content: "";
  position: absolute;
  top: 8px;
  left:12px;
  width: 15px;
  height: 15px;
  opacity: 0.3;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15' %3E%3Ccircle fill='%23ffffff' cx='4.5' cy='13.5' r='1.5'/%3E%3Ccircle fill='%23ffffff' cx='12.5' cy='13.5' r='1.5'/%3E%3Cpath fill='%23ffffff' d='M15 2H4.07l-.422-2H0v2h2.031l1.985 9H15V9H9.441L15 6.951z'/%3E%3C/svg%3E");
}

.item-actions .buy:hover,
.item-actions .buy:focus{
  background-color: #5fbb2d;
  border-color: #5fbb2d;
  border-bottom-color: #367315;
}
.buy:hover::before,
.buy:focus::before{
  opacity: 1;
}
.item-actions .buy:active{
  background-color: #518534;
  border-color: #518534;
}

.item-actions .bookmark{
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.item-actions .bookmark:hover,
.item-actions .bookmark:focus{
  border-color: #32425c;
  color: #32425c;
}
.item-actions .bookmark:active{
  opacity: 0.3;
}

.catalog-item:hover .item-actions{
  position: absolute;


  background-color:rgba(255,255,255,0.9);
  top: 0px;
  left: 0px;

  overflow: visible;

  min-height: 134px;
  width: 218px;
  margin: 0px;

  padding:0px;
  padding-top: 43px;

  border: none;
}

.catalog-item h3{
  padding: 0px;
  margin: 0px;
  order: 1;

  min-height: 33px;
  width: 155px;

  line-height: 20px;
  font-size: 18px;

  margin-bottom: 18px;
}

.item-title a{
  font: inherit;
  line-height: 20px;
  color: #000000;
}

.catalog-item p{
  margin: 0px;
  padding: 0px;
}

.catalog-item p[class*="price"]{
  font-size: 17px;
  line-height: 12px;
}
.catalog-item .old-price{
  text-decoration: line-through;
  order: 2;
  color: #a9a9a9;

  margin-bottom: 13px;

  min-height: 12px;

  box-sizing: border-box;
}
.catalog-item .new-price{
  order: 3;
  color: #ffffff;

  box-sizing: border-box;

  margin-bottom: 21px;

  min-height: 38px;
  width: 141px;

  padding: 13px 30px;

  background-color: #ee3643;

  position: relative;
}
.catalog-item .new-price::after{
  content: "";
  position:absolute;
  top:0;
  right:-20px;
  width:0;
  height:0;
  border:19px solid white;
  border-left-color:#ee3643;
}

.new-item{
  position: absolute;
  top:-1px;
  right:-1px;
  width:60px;
  height:60px;
  text-indent:-1000px;
  overflow:hidden;
  z-index:20;

  background-image: url("../img/new-price.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.manufacturer{
  margin-bottom: 65px;
}

.manufacturer-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: #f9f5f0;

  margin-bottom: 20px;
}
.manufacturer-title .title{
  font-size: 30px;
  line-height: 30px;

  color:#32425c;

  margin-left: 30px;
}
.manufacturer-title .button{
  margin-right: 30px;
}

.manufacturer .manufacturer-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  list-style: none;

  margin: 0px;
  padding: 0px;

  margin-right: -20px;
  margin-bottom: -20px;
}

.manufacturer-list li{
  margin-right: 20px;
  margin-bottom: 20px;

}

.manufacturer-list .manufacturer-item{
  display: block;
  position: relative;

  box-sizing: border-box;
  width: 220px;
  height: 145px;

  border: 1px solid #eaeaea;
}

.manufacturer-item img{
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.manufacturer-item:hover,
.manufacturer-item:focus{
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.manufacturer-item:active{
  opacity: 0.3;
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}


.service{

  margin-bottom: 82px;

  background-color: #F6F8FA;
}

.service h2{
  font-size: 30px;
  line-height: 30px;

  color: #000000;

  margin: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.service-tagline{
  font-family: "PT Sans",sans-serif;
  font-size: 13px;
  line-height: 24px;

  margin-bottom: 70px;
}

.service-help-column{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.service-list{
  list-style: none;
  font-weight: bold;

  margin: 0px;
  padding: 0px;
  margin-right: 80px;
}

.service-list li{

}

.service-list a{
  display: block;
  box-sizing: border-box;
  width: 220px;
  min-height: 61px;

  font-size: 21px;
  line-height: 30px;
  text-align: left;

  padding-left: 23px;
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: #33445a;

  box-shadow: inset 0px -1px 0 0 #33445a;
}
.service-list a:hover:not(.active),
.service-list a:focus:not(.active){
  background-color: #293449;
}
.service-list a:active:not(.active){
  color: #32425c;

  background-color: #ffffff;
}

.service-list .active{
  color: #32425c;
  background-color: #ffffff;
}

.service h3{
  font-size: 36px;
  line-height: 1;

  color: #32425c;

  margin-top: 0px;
  padding-top: 0px;
}

.service .description{

  font-family: "PT Sans",sans-serif;
  font-size: 13px;
  line-height: 1.85;

  color: #000000;
}


.main-info{
  color: #000000;
  display: flex;

  margin-bottom: 87px;
}

.main-info .info{

  width: 519px;
  min-height: 368px;

  margin-right: 120px;
}

.main-info h2{
  font-size: 30px;
  line-height: 1;

  margin: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.main-info p{
  font-family: "PT Sans",sans-serif;
  font-size: 13px;
  line-height: 1.85;

  margin: 0px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.delivery-methods{
  list-style: none;
  font-size: 18px;
  line-height: 1.11;

  margin: 0px;
  padding-left: 0px;
  margin-bottom: 35px;

}

.delivery-methods li{
  padding-left: 30px;

  position: relative;
}
.delivery-methods li::after{
  content: "";

  position: absolute;
  top: 50%;
  left: 0;

  transform: translatey(-50%);

  width:25px;
  height: 2px;

  background-color: #ee3643;
}

.main-info .info-geo{

  width:300px;
  min-height: 368px;
}
/*------------------*/
/*Internal page properties*/

.inner{

}
.inner .main-header{
  margin-bottom: 0px;
}
.breadcrumbs{
  display: flex;

  font-family: "PT Sans",sans-serif;
  font-size: 13px;
  line-height: 1.38;

  list-style: none;

  margin: 0px;
  padding: 0px;

  padding-top: 21px;
  padding-bottom: 21px;

}
.breadcrumbs li{
  margin-left: 39px;
  position: relative;

}
.breadcrumbs a{
  color: #000000;
  min-height: 9px;
}

.breadcrumbs .home{
  font-size: 0px;
}

.breadcrumbs li:not(.home)::before{
  content: "";
  position: absolute;
  top: 2px;
  left: -18px;
  width: 8px;
  height: 12px;



  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='12' viewBox='0 0 8 12'%3E%3Cpath fill='%23C1C6CE' d='M7.237 5.642L1.729.133a.506.506 0 1 0-.716.716L6.163 6l-5.151 5.15a.507.507 0 0 0 .716.717l5.509-5.509a.504.504 0 0 0 0-.716z'/%3E%3C/svg%3E");
}


.internally-title{
  box-sizing: border-box;
  font-size: 30px;
  line-height: 1;

  color: #32425c;

  background-color: #f2f6f8;



  margin: 0px;
  padding: 0px;

  padding-left: 30px;
  padding-top: 32px;
  padding-bottom: 32px;

  margin-bottom: 20px;

  min-height: 89px;
}


.inner-page-help{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.filters{

  font-family: "PT Sans",sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.33;
  text-transform: uppercase;

  color: #000000;

  margin-right: 20px;

  width: 220px;
  min-height: 746px;
}

.filter p{
  padding: 0px;
  margin: 0px;
}

.filters .filters-title{
  font-size: 13px;
  line-height: 1.38;
  font-weight: inherit;

  width: 220px;
  min-height: 38px;
  box-sizing: border-box;

  background-color: #f7f3ec;

  margin: 0px;
  padding: 0px;
  padding-left: 18px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.filters .filter{
  position: relative;
  border: none;

  padding: 0px;
}

.filter .filter-title{
  position: absolute;
  top: 25px;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.76;
}

.filter label{
  display: flex;
  align-items: center;
  margin-bottom: 17px;
}

.filter input{
  display: none;
}

.filter .custom{
  position: relative;
    opacity: 0.4;
}
.filter .custom:hover,
.filter .custom:focus{
  opacity: 0.5;
}

.filter .custom::before{
  content: "";
  position: absolute;

  background-repeat: no-repeat;
}

.filter.filter-manufacturer{
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;

  padding-top: 79px;
  padding-bottom: 21px;

  margin-top: 25px;
}

.filter-manufacturer p{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  margin-bottom: -17px;
}

.checkbox .checkbox-custom{
	width: 27px;
	height: 23px;
  margin-right: 12px;
}
.checkbox-custom::before{
  width: 27px;
  height: 23px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E%0A");
}
.checkbox-input:checked+.checkbox-custom::before{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E%0A");
}

.filter.filter-nutrition{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding-top: 58px;

  margin-bottom: 59px;
}

.radio .radio-custom{
	width: 25px;
	height: 25px;
  margin-right: 10px;
}

.radio-custom::before{
  width: 25px;
  height: 25px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3C/svg%3E%0A");
}
.radio-input:checked+.radio-custom::before{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3Ccircle cx='12.5' cy='12.5' r='4.5'/%3E%3C/svg%3E%0A");
}

.filters-submit{
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  width: 140px;
  min-height: 38px;
  box-sizing: border-box;

  padding: 0px;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}


.catalog-column{
  width: 700px;
  min-height: 1142px;

  margin-bottom: 60px;
}


.sorting{
  display: flex;

  font-family: "PT Sans",sans-serif;
  font-weight:normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #f7f3ec;

  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 19px;
}

.sorting h2{
  font:inherit;

  margin: 0px;
  padding: 0px;
  margin-right: 139px;
}

.sorting .sorting-menu{
  display: flex;
  list-style: none;

  margin: 0px;
  padding: 0px;
}

.sorting-text{
  font-size: 13px;
  line-height: 18px;

  border-bottom: 1px dotted #ee3643;

  color: rgba(0, 0, 0, 0.3);
}

.sorting-text:not(.sorting-active):hover,
.sorting-text:not(.sorting-active):focus{
  color: rgba(0, 0, 0, 1);
  border-bottom: 1px solid #ee3643;
}
.sorting-text:not(.sorting-active):active{
  border:none;
  color: #ee3643;
}

.sorting .sorting-active{
  color: #ee3643;
  border-bottom: none;
}

.sorting-menu .sorting-price{
  margin-right: 71px;
}

.sorting-menu .sorting-type{
  margin-right: 65px;
}

.sorting-menu .sorting-funct{
  margin-right: 46px;
}

.sorting-menu .sorting-up{
  width: 11px;
  height: 10px;
  opacity: 0.3;
  fill: #231F20;
  margin-right: 21px;
}

.sorting-menu .sorting-down{
  width: 11px;
  height: 10px;
  opacity: 0.3;
  fill: #231F20;
}

.sorting-menu .sorting-active-flag{
  fill: #ee3643;
  opacity: 1;
}

.sorting-flag:not(.sorting-active):hover,
.sorting-flag:not(.sorting-active):focus{
  opacity: 1;
}
.sorting-flag:not(.sorting-active):active{
  fill: #ee3643;
}


.inner .catalog-list{
  margin-bottom: 32px;
}

.pagination{
  display: flex;

  list-style: none;

  margin: 0px;
  padding: 0px;
}

.pagination a{
  font-family: "PT Sans",sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.38;

  color: #000000;
}

.pagination .button-pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  min-height: 38px;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  margin-right: 10px;
}

.pagination .button-next{
  width: 140px;
}

.pagination .active{
  color: #ffffff;
  border: none;
  background-color: #ee3643;
}

.button-pagination:not(.active):hover,
.button-pagination:not(.active):focus{
  border-color: #bdc6ca;
}
.button-pagination:not(.active):active{
  border-color: #ee3643;
}


.inner-info{
  background-color: #F3F6F8;
  width: 100%;
}

.inner-info .center{
  padding-top: 67px;
  padding-bottom: 73px;
}

.inner-info h2{
  font-size: 30px;
  line-height: 1;
  font-weight: normal;
}

.inner-info p{
  font-family: 'PT Sans',sans-serif;
  font-size: 13px;
  line-height: 1.85;
  font-weight: normal;
}
/*------------------*/

/*Footer*/
.main-footer{
  background-color:#32425c;

}
.main-footer ul{
  list-style: none;

  margin: 0px;
  padding: 0px;
}

.footer-nav{
  display: flex;
  flex-direction: row;


  font-size: 18px;
  line-height: 1.33;

  margin-bottom: 50px;
}

.footer-column-left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
    flex-shrink: 0;

}

.footer-nav .logo{
  font-size: 30px;
  line-height: 1;

  padding-left: 41px;
  padding-right: 41px;

  margin-bottom: 30px;
}

.footer-nav p{
  color: #f3f7f9;

  margin: 0px;
}

.footer-column-right{
  flex-basis: 100%;
  box-sizing: border-box;
  width: 547px;

  padding-top: 30px;
  padding-bottom: 10px;

}

.footer-column-right .footer-main-nav{
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-left: 60px;

  margin-bottom: 25px;
}

.footer-column-right .footer-add-nav{
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-left: 80px;
}

.footer-button{
  margin-right: 60px;
}
.footer-button.last{
  margin-right: 0;
}

.footer-add-nav a{
  color: #ffd180;
}

.footer-main-nav a:hover,
.footer-main-nav a:focus,
.footer-add-nav a:hover,
.footer-add-nav a:focus{
  text-decoration: underline;
}

.footer-main-nav a:active,
.footer-add-nav a:active{
  opacity: 0.5;

  text-decoration: none;
}

.footer-bottom-bg{
  background-color: #293449;
}

.footer-bottom{
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 16px;
  line-height: 1.13;

  color: #ffffff;

  min-height: 107px;
}
.footer-bottom p{
  margin: 0px;
}

.footer-bottom  a{
  color: #ffd180;
}
.footer-bottom a:hover,
.footer-bottom a:focus{
  text-decoration: underline;
}
.footer-bottom a:active{
  text-decoration: none;

  color: #ee3643;
}

.footer-bottom .footer-info{
  margin-right: 163px;
}

.social ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-size: 0px;

  margin-right: 119px;
}

.social li{
  margin-right: 4px;
}

.social .social-button{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 42px;
  min-height: 42px;

  background-color: #212a3a;

  border: 1px solid #212a3a;
  border-radius: 20px;

}
.social-button:hover,
.social-button:focus,
.social-button:active{
  background-color: #ee3643;
}

.footer-bottom .feedback{
  margin-right: 53px;
}



.pop-up{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 620px;
  min-height: 437px;
  box-sizing: border-box;
  border-top: 7px solid #ee3643;
  position: relative;
  padding-left: 80px;
  padding-right: 80px;
  box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.pop-up.question{
  padding-top: 46px;
}

.question .question-form::after{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  min-height: 112px;
  background-color:#f4f4f4;
  z-index: -1;
}

.question .question-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;


}

.pop-up .close{
  position: absolute;
  top: 9px;
  right: 9px;
  width: 21px;
  min-height: 21px;
  border: none;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21' viewBox='0 0 21 21'%3E%3Cpath fill='%23ee3643' d='M13.273 10.5l7.422-7.422a1.003 1.003 0 0 0 0-1.414L19.336.305a1.003 1.003 0 0 0-1.414 0L10.5 7.727 3.078.305a1.003 1.003 0 0 0-1.414 0L.305 1.664a1.003 1.003 0 0 0 0 1.414L7.727 10.5.306 17.922a1.003 1.003 0 0 0 0 1.414l1.359 1.359a1.003 1.003 0 0 0 1.414 0l7.422-7.422 7.422 7.422a1.003 1.003 0 0 0 1.414 0l1.359-1.359a1.003 1.003 0 0 0 0-1.414z'/%3E%3C/svg%3E");

}

.question-form .pop-up-label{
  display: flex;
  flex-direction: column;
  width: 220px;
  min-height: 38px;

  margin-bottom: 20px;

}

.question-form .name-label{
  margin-right: 20px;
}

.pop-up-label input{
  width: 220px;
  min-height: 38px;
  box-sizing: border-box;
  border: 2px solid #d7dcde;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  margin-top: 13px;
  color: #999999;
}
.pop-up-label input:hover,
.pop-up-label textarea:hover{
  border-color: #b5b5b5;
}
.pop-up-label input:focus,
.pop-up-label textarea:focus{
  border-color: #ee3643;
  outline: none;
}

.question-form .text-label{
  width: 100%;
  min-height: 140px;
  margin-bottom: 37px;
}

.text-label textarea{
  width: 100%;
  min-height: 114px;
  box-sizing: border-box;
  border: 2px solid #d7dcde;
  border-radius: 5px;
  padding-top: 10px;
  padding-left: 16px;
  margin-top: 13px;
}

.pop-up-actions{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 112px;
  box-sizing: border-box;

  background-color: #f4f4f4;
}

.pop-up-actions .button{
  width: 100%;
  min-height: 38px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
}


.pop-up.map{
  width: 940px;
  min-height: 447px;
  padding: 0px;
  margin: 0px;
  border: none;
}


.pop-up.added-item{
  flex-direction: column;
  min-height: 282px;
  padding: 0px;
  margin: 0px;
}

.added-item .title-added{
  width: 620px;
  min-height: 163px;
  box-sizing: border-box;
  margin: 0px;
  padding-top: 68px;
  padding-bottom: 68px;
  padding-left: 179px;
  padding-right: 125px;
}

.added-item::before{
  content: "";
  width: 66px;
  height: 66px;
  position: absolute;
  top: 55px;
  left: 81px;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='66' height='66' viewBox='0 0 66 66'%3E%3Ccircle cx='33' cy='33' r='33' fill='%2363A63E'/%3E%3Cpath fill='%23FFF' d='M49.641 21.066a1.003 1.003 0 0 0-1.414 0L29.788 39.504a1.003 1.003 0 0 1-1.414 0l-8.14-8.139a1.003 1.003 0 0 0-1.414 0L15.285 34.9a1.003 1.003 0 0 0 0 1.414l13.089 13.09a1.003 1.003 0 0 0 1.414 0l3.536-3.536 1.414-1.414 18.438-18.438a1.003 1.003 0 0 0 0-1.414l-3.535-3.536z'/%3E%3C/svg%3E%0A");
}

.added-item .added-actions{
  padding-left: 80px;
  padding-right: 80px;
}

.added-actions .button{
  width: 220px;
  min-height: 38px;
  margin-right: 20px;
}

.added-actions .continue{
  width: 220px;
  min-height: 38px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border: none;
  background-color: #ffffff;
}
.added-actions .continue:hover,
.added-actions .continue:focus{
  border: 2px solid #b5b5b5;
  border-radius: 5px;
}
.added-actions .continue:active{
  border-color: #ee3643;
}

.pop-up-hidden{
  display: none;
}
